/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */

#wrapper {
  position: relative;
}

#streetView {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99;
  float: right;
  height: 90%;
  width: 80%;
  background-color: rebeccapurple;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

#map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.btn {
  background: none;

  color: #0b7395;
  border: none;
  font-weight: 800;
  cursor: pointer;
}

.iframe {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: none;
  outline: none;
}
